.ste10boxesContainer {
  display: flex;
  justify-content: space-evenly;
}

.ste10homeHeading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--grey);
  text-transform: uppercase;
}

.ste10backArrow {
  cursor: pointer;
}
